@import "variables.scss";

div.batch-show-container {
  width:80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.left{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}



div.top {
  height: 500px;
}

div.main-image-container{
  width: 100%;
  position: relative;
  overflow: hidden;
}

img.main-image{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;

  height: auto;
  // -webkit-transform: translate(-50%,-50%);
  //    -ms-transform: translate(-50%,-50%);
  //        transform: translate(-50%,-50%);

}


div.right{
width: 35%;
margin-left: 30px;
}
div.batch-show-summary {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.right li {
  margin: 10px 0;
}




.color-heading  {
  letter-spacing: 1px;
  font-weight: normal;
  color: $turquoise;
  border-bottom: 3px solid $turquoise;
  font-size: 22px;
}

.batch-description {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}

.batch-show-summary * {
  margin: 0px;
}


div.batch-show-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3.subtitle {
  border-bottom: 2px solid LightGray;
  text-transform: uppercase;
  font-weight: lighter;
  color: gray;
}



div.batch-show-progress{
  width: 100%;
  margin: 20px 0;

}

.batch-show-progress li.percentage {
  font-size: 16px;
}





div.bottom {
display: flex;
flex-direction: column;
}

div.other-images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

div.other-batch-image {
  width: 300px;

}

.other-batch-image img{
  width: 30%;
  min-width: 300px;
}

div.long-description {
  width: 100%;
  margin: 30px auto;
  font-size: 20px;
  color: gray;


}
