@import "variables";
// Place all the styles related to the Api::Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-batch-form-container{
  width:80%;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

span.title {
display: flex;
flex-direction: column;
align-items: center;
}

form.new-batch-form{
display: flex;
flex-direction: column;
align-items: center;
}

button.create-batch {
  background-color: $turquoise;
}

.first-form-box input{

}

.batch-form-container{
width:80%;
margin: auto;
display:flex;
flex-direction: column;
align-items: center;
}
// div.batch-form-container{
//   position: fixed;
//    top: 150px;
//    width: 100%;
//    height: 80%;
//    overflow-y: scroll;
//
//
// }


div.form-box {
  width:75%;
  margin-top: 100px;
}
.form-box label{
  display: flex;
  flex-direction: column;
}

div.batch-buttons-bar {
  display: flex;
  justify-content: space-between;
  width:80%;
  // position: fixed;
  height: 80px;
  background: white;
}
.bottom-buttons-bar{
  display: flex;
  justify-content: flex-end;
  width:80%;
  // position: fixed;
  height: 80px;
  background: white;
  margin: 30px 0;
}
.batch-form-buttons {
text-align: right
}

.batch-form-buttons button{
  padding: 15px;
  text-transform: uppercase;
}


button.options{
  background-color: $turquoise;
  color:white;

}

button.save{
  background-color: white;
  color: $turquoise;
}

button.save:hover{
  background-color: lighten($turquoise, 35%);
}

select {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 14px;

}
.batch-form-container input {
  width: 100%;
  height: 30px;
}
.batch-form-container textarea {
  padding: 8px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.batch-form-container h1{
  font-size: 30px;
}



.one-line-span {
  display: flex;
  flex-direction: row;
}

div.img-list{
  display:flex;
  flex-direction:row;
}
div.img-thumbnail-container{
  display: flex;
  flex-direction: column;
}

button.remove-image{
  font-size: 12px;

}
img.thumbnail{
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

button.upload-image-button {
  background: $turquoise;
  font-size: 14px;
  color: white;
  margin-left: 0;
}
