@import "variables.scss";

div.batch-show-container {
  width:80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.left{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



div.top {
  height: 500px;
}

div.main-image-container{
  width: 90%;
  position: relative;
  overflow: hidden;
  margin: auto;
}

div.right{
width: 35%;
margin-left: 30px;
}
div.batch-show-summary {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.right li {
  margin: 10px 0;
}




.color-heading  {
  letter-spacing: 1px;
  font-weight: normal;
  color: $turquoise;
  border-bottom: 3px solid $turquoise;
  font-size: 22px;
}

.batch-description {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}

.batch-show-summary * {
  margin: 0px;
}


div.batch-show-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3.subtitle {
  border-bottom: 2px solid LightGray;
  text-transform: uppercase;
  font-weight: lighter;
  color: gray;
}


.main-image-container img.main-image{
  position:absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);

}

div.batch-show-progress{
  width: 100%;
  margin: 20px 0;

}

.batch-show-progress li.percentage {
  font-size: 16px;
}





div.bottom {
display: flex;
flex-direction: column;
}

div.other-images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

div.other-batch-image {
  width: 300px;
  margin: 30px;
}

.other-batch-image img{
  width: 30%;
  min-width: 300px;

}

div.long-description {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
