// Place all the styles related to the Api::Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.batch-form-container{
  width:80%;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;


}
div.form-box {
  width:75%;
  margin-top: 100px;
}
.form-box label{
  display: flex;
  flex-direction: column;
}

div.batch-buttons-bar {
  display: flex;
  justify-content: space-between;
  width:80%;
  margin: 30px;
  position: fixed;
  height: 50px;
}
.batch-form-buttons {
text-align: right
}

.batch-form-buttons button{
  padding: 15px;
  text-transform: uppercase;
}


button.launch{
  background-color: #33cccc;
  color:white;

}

button.save{
  background-color: white;
  color: #33cccc
}

button.save:hover{
  background-color: lighten(#33cccc, 35%);
}

select {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 14px;

}
.batch-form-container input {
  width: 100%;
  height: 30px;
}
.batch-form-container textarea {
  padding: 8px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.batch-form-container h1{
  font-size: 30px;
}



.one-line-span {
  display: flex;
  flex-direction: row;
}
