div.batch-show-container {
  width:80%;
  margin:auto;
  padding:30px;
}

.batch-show-container div:first-child{
  margin: 20px;
}

div.batch-show-summary {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

div.right{
width: 40%;


}

.right li {
  margin: 10px 0;
}

div.left{
  width: 58%;
}


.color-heading  {
  letter-spacing: 1px;
  font-weight: normal;
  color: #33cccc;
  border-bottom: 3px solid #33cccc;
  font-size: 22px;
}

.batch-description {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}

.batch-show-summary * {
  margin: 0px;
}


div.batch-show-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3.subtitle {
  border-bottom: 2px solid LightGray;
  text-transform: uppercase;
  font-weight: lighter;
  color: gray;
}
