div.batch-index {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

div.batch-index-item{
  width: 300px;
  margin: 20px;
  border: 2px solid LightGray;
}

.batch-index-item img{
  width: 300px;
}

li.category {
  color: #33cccc;
  text-transform: uppercase;
  font-size: 12px;

}

.slider-container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.index-item-info {
  padding: 20px;
}
.index-item-info li{
  margin: 20px;
}
