@import "variables";

// div.batch-index {
//   display:flex;
//   flex-direction: row;
//   justify-content: space-around;
//   width: 80%;
//   overflow-x: scroll;
// }

div.batch-index-item{
  width: 90%;
  margin: 15px;
  border: 2px solid LightGray;
  display: inline-block;
  height: 450px;

}

div.index-item-image {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.batch-index-item img{
  height: 100%;
  flex: none;
}

li.category {
  color: $turquoise;
  text-transform: uppercase;
  font-size: 12px;

}



.index-item-info {
  padding: 10px;
}
.index-item-info li{
  font-size: 14px;
  margin-bottom: 20px;
}

div.batch-index-item-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  align-items: center;
  position: relative;
}

.index-item-info h4{
  margin: 0;
}
