// Place all the styles related to the Api::Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.batch-form-container{
  width:80%;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.form-box label{
  display: flex;
  flex-direction: column;
  width: 80%;
}

div.batch-buttons-bar {
  display: flex;
  justify-content: space-between;
  width:80%;
  margin: 30px;
}
.batch-form-buttons {
text-align: right}


select {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 14px;

}
.batch-form-container input {
  width: 100%;
}
.batch-form-container textarea {
  padding: 8px;
  width: 500px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.batch-form-container h1{
  font-size: 30px;
}

