@import "variables.scss";

div.batch-show-container {
  width:80%;
  margin:auto;
  padding:30px;
}

.batch-show-container div:first-child{
  margin: 20px;
}

div.batch-show-summary {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

div.right{
width: 35%;
margin-left: 30px;


}

.right li {
  margin: 10px 0;
}

div.left{
  width: 65%;
}


.color-heading  {
  letter-spacing: 1px;
  font-weight: normal;
  color: $turquoise;
  border-bottom: 3px solid $turquoise;
  font-size: 22px;
}

.batch-description {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}

.batch-show-summary * {
  margin: 0px;
}


div.batch-show-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3.subtitle {
  border-bottom: 2px solid LightGray;
  text-transform: uppercase;
  font-weight: lighter;
  color: gray;
}

.main-image-container{
  width:100%;
  height:400px;
  position: relative;
  overflow: hidden;
}

.main-image-container img{
  position:absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;

}

div.batch-show-progress{
  width: 100%;
  margin: 20px 0;

}

.batch-show-progress li.percentage {
  font-size: 16px;
}
