.banner-explanation{
  width:100%;
  height: 350px;

  padding-top: 90px;
  background-color: #000000;
  background-position: center;
  background-image: url(http://res.cloudinary.com/indiemomo/image/upload/v1486603139/banners/explain-banner.jpg);
  background-repeat: no-repeat;

}
div.banner-explanation-title{
  position:absolute;
  left: 12%;
  z-index:100;
  bottom: 25%;
  width: 100%;
  // background: rgb(0, 0, 0); /* fallback color */
  //  background: rgba(0, 0, 0, 0.65);
   letter-spacing: 2px;
   text-align: left;
   font-size: 35px;
   text-transform: uppercase;
   color: white;
    text-shadow: 2px 2px 4px #000000;

}
