

.main-header {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}



.header-link{
  color: red;
text-decoration: none;
padding: 0px;
}

#logo, h1 {
  margin: 5px;
  font-size: 40px;
}

.left {
  display: flex;
  justify-content: space-around;
}
.left h2{
margin: 20px;
}


span.right {
  display:flex;
  justify-content:space-around;
}

span.header-group {
  font-size: 16px;
  margin: 18px;
}
#logout {
  text-decoration: underline;
}

.login-demo {
  font-size: 12px;
  margin-top: 5px;
}

div.greeting{
  display:flex;
  flex-direction: row;
}

.greeting img{
  height: 50px;
  margin:auto;
}

button.start-batch {
  background-color: red;
  color: white;
  margin-right: 100px;
  height: 40px;
  padding: 0 30px;

}
