

.main-header {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;


}
.header-link{
  color: red;
text-decoration: none;
padding: 0px;
}

#logo, h1 {
  margin: 5px;
  font-size: 40px;
}

.left, .right{
  display: flex;
  justify-content: space-around;
}
.left h2{
margin: 20px;
}

.right nav {
  margin:20px;
}
