@import "variables";



div.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.banner {
  width:100%;
  height: 350px;

  padding-top: 90px;
  background-color: #000000;
  background-position: center;
  background-image: url(http://res.cloudinary.com/indiemomo/image/upload/v1486603139/banners/home-banner.jpg);
  background-repeat: no-repeat;

}


//
// div.banner {
//   width:80%;
//   margin:auto;
//   position: relative;
// }

.banner img{
  width:100%;
  height: 100%;
  top: 0;
  left: 0;

}

div.banner-title{
  position:absolute;
  left: 12%;
  z-index:100;
  // top: 30%;
  width: 100%;
  // background: rgb(0, 0, 0); /* fallback color */
  //  background: rgba(0, 0, 0, 0.65);
   letter-spacing: 2px;
   text-align: left;
   font-size: 35px;
   text-transform: uppercase;
   color: white;
    text-shadow: 2px 2px 4px #000000;

}



div.batch-index {
  padding: 30px;
}
div.homepage-section{
  display: flex;
  flex-direction: column;
  width:100%;
}
div.homepage-index-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
  margin-top: 50px;
  padding-bottom: 10px;
}
.homepage-index-nav h2{
  font-weight:600;
  color: red;
  text-align: left;
  width: 250px;
  border-bottom: 3px red solid;
}
.homepage-index-nav p{
  color: $turquoise;
  text-align: right;
  vertical-align: bottom;
  bottom: 0;
}
div.make-instructions{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 10%;
}

div.instruction{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  color: $turquoise;
  font-size: 18px;
  text-align: center;
}
.instruction img{
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}
span.get-started-text{
  font-size: 20px;
  color: $turquoise;
  text-align: center;
  margin: auto;
  font-weight: 600;
}

div.get-started{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.make-index {
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 40px;
}

.make-index h2{
  border: 0;
  color: black;
}
.make-index h3{
  font-size: 20px;
  color: red;
  text-align: center;
  margin: auto;
  font-weight: 600;
}

.instruction strong{
  font-family: $title-font;
  font-size: 24px;
  font-weight: bold;
}
