div.options-container {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  width:100%;
  margin: 0px;
  margin-top: 80px;

}


div.option-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;

}

.option-box h2{
  margin-bottom: 20px;
}

.option-box label{
  padding: 10px;
  width:100%
}

div.options-form-container{
  display:flex;
  flex-direction: column;
text-align: center;
  width: 30%;
  margin: auto;
}

.options-form-container input{
  font-size: 20px;
  width: 100px;
}
input.description {
  width: 200px;
  height:200px;
}

label.cost {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
input.cost {
  font-size: 25px;
}

.cost h3{
  font-size: 30px;
  padding: 10px;
  margin-top: 5px;

}
