div.options-container {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  width:100%;
  margin: 0px;
  margin-top: 80px;

}


div.option-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;

}

.option-box h2{
  margin-bottom: 20px;
}

.option-box label{
  padding: 10px;
  width:100%
}
