

div.index-container{
  width: 80%;
  margin: auto;
}
div.batch-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.batch-item {
  width: 300px;
}
