// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {

}
.login-form-box {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 400px;
  border: 1px, black, solid;
  position: relative;
  padding: 30px;
}



#zip input {
  width: 150px;
}

span.login-buttons {
  width: 100%;
  text-align: right;
}

span.login-change {
  width:100%;
  text-align: right;
  font-size: 10px;
  font-color: gray;
}

.login-change a {
  padding: 0 10px;
}

.login-form-container h1{
  font-size: 30px;
}
