div.slider-container {
  margin: 0 auto;
  width: 82%;
  color: #333;
  margin-top: 10px;

}

.slider-bar i{
  font-size: 200px;
  color: LightGray;
  margin: auto;
  font-weight: 200;
}

div.slider-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  margin-top: 0px;
  height: 450px;

}
