// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//For User Profile Page

div.user-profile {
  display:flex;
  flex-direction: column;
}

div.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
