// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//For User Profile Page

div.user-profile {
  display:flex;
  flex-direction: column;
}

div.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left img {
  height: 300px;
}

div.user-thumbnails {
  display: flex;

}

div.user-thumbnail{
  width: 40%;
  margin: 20px;
}

.user-thumbnail img{
  width:100%;
}

.user-profile h2{
  margin:30px 0;
  font-size: 30px;
}

.user-profile h3{
  font-size: 24px;
}

.user-profile h4{
  font-size: 20px;
}
