// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//For User Profile Page

div.user-profile {
  display:flex;
  flex-direction: column;
}

div.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}


.user-info div.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.user-image{
  width: 80%;
  height: auto;
  margin: auto;
}

.user-info div.right {
  width: 60%;
  padding-top: 150px;

}
div.user-thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width:1000px;

}

div.user-thumbnail{
  width: 30%;
  margin: 10px;
}
li.thumbnail-img-container{
  width: 200px;
  height: 125px;
  overflow: hidden;
}

.user-thumbnail img{
  width:200px;
}

.user-profile h1{
  margin:30px 0;
  font-size: 40px;
}

.user-profile h3{
  font-size: 24px;
}

.user-profile h4{
  font-size: 20px;
}
