// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, a, p, span, button, h2, h1, h3, form, li, ul {

  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: inherit;
  font-family: sans-serif;

  color: inherit;
  list-style: none;
}

.clickable:hover {
  cursor:pointer;
}

$turquoise: #33cccc;

button{
  text-transform: uppercase;
  padding: 15px;
}
button:hover{
  opacity: .75;
}

h2{
  font-size: 20px;
}
button{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
}

input{
  padding: 8px;
  height: 15px;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}
